<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>\\</title>
	<link rel='stylesheet' href='/stylesheets/on_off_switch.css' />
</head>
<body>
	<header>
		<h1>On/Off Switch </h1>
		<h4>(HTML, CSS)</h4>
	</header>
	<content>
		<box>
			<box-name>
				Default
			</box-name>
			<box-content>
				<input type="checkbox" id="switch-default"/>
				<label for="switch-default"><span></span></label>
			</box-content>
		</box>
		<box>
			<box-name>
				Type-1
			</box-name>
			<box-content>
				<input type="checkbox" id="switch-type-1" />
				<label for="switch-type-1"></label>
			</box-content>
		</box>
		<box>
			<box-name>
				Type-2
			</box-name>
			<box-content>
				<input type="checkbox" id="switch-type-2" />
				<label for="switch-type-2"><span></span></label>
			</box-content>
		</box>
		<box>
			<box-name>
				Type-3
			</box-name>
			<box-content>
				<input type="checkbox" id="switch-type-3" />
				<label for="switch-type-3"><span></span></label>
			</box-content>
		</box>
		<box>
			<box-name>
				Type-4
			</box-name>
			<box-content>
				<input type="checkbox" id="switch-type-4" />
				<label for="switch-type-4"><span></span></label>
			</box-content>
		</box>

	</content>
</body>
</html>
