<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>\\</title>
	<link rel='stylesheet' href='/stylesheets/pure_css.css' />
</head>
<body>
	<header>
		<h1>Pure CSS Icon</h1>
		<h4>(HTML, CSS)</h4>
	</header>
	<content>
		<box>
			<box-name>
				Check Mark
			</box-name>
			<box-content>
				<label class="check_mark">

				</label>
			</box-content>
		</box>
		<box>
			<box-name>
				X Mark
			</box-name>
			<box-content>
				<label class="x_mark">

				</label>
			</box-content>
		</box>

		<box>
			<box-name>
				List Mark
			</box-name>
			<box-content>
				<label class="list_mark">
					<span></span>
				</label>
			</box-content>
		</box>

		<box>
			<box-name>
				Forbidden Mark
			</box-name>
			<box-content>
				<label class="forbidden_mark">
				</label>
			</box-content>
		</box>
		<box>
			<box-name>
				Arrow Mark
			</box-name>
			<box-content>
				<label class="arrow_mark">
				</label>
			</box-content>
		</box>
		<box>
			<box-name>
				Search Mark
			</box-name>
			<box-content>
				<label class="search_mark">
				</label>
			</box-content>
		</box>

	</content>
</body>
</html>