<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>\\</title>
	<link rel='stylesheet' href='/stylesheets/radio_trick.css' />
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />
</head>
<body>
	<header>
		<h1>Radio Trick </h1>
		<h4>(HTML, CSS)</h4>
	</header>
	<content>
		<box>
			<box-name>
				Star Rating
			</box-name>
			<box-content>
				<div>
					<input type="radio" name="star_point" id="star-1" checked>
				    <label for="star-1" class="star_point">
				      <span><i class="fa fa-star" aria-hidden="true"></i></span>
				    </label>
				    <input type="radio" name="star_point" id="star-2">
				    <label for="star-2" class="star_point">
				      <span><i class="fa fa-star" aria-hidden="true"></i></span>
				    </label>
				    <input type="radio" name="star_point" id="star-3">
				    <label for="star-3" class="star_point">
				      <span><i class="fa fa-star" aria-hidden="true"></i></span>
				    </label>
				    <input type="radio" name="star_point" id="star-4">
				    <label for="star-4" class="star_point">
				      <span><i class="fa fa-star" aria-hidden="true"></i></span>
				    </label>
				    <input type="radio" name="star_point" id="star-5">
				    <label for="star-5" class="star_point">
				      <span><i class="fa fa-star" aria-hidden="true"></i></span>
				    </label>
			    </div>
			</box-content>
		</box>
		<box>
			<box-name>
				Modal
			</box-name>
			<box-content>
				<input type="radio" name="modal" id="modal_bt" >
				<label for="modal_bt">
					Show Modal
				</label>
				<input type="radio" name="modal" id="overlay" checked>
				<label for="overlay" id="overlay">
					Overlay
				</label>
				<modal>
					<modal-head>
						<label for="overlay" id="modal_x">
						</label>
					</modal-head>
					<modal-body>
						<h3>Simple Modal</h3>
					</modal-body>
					<modal-foot>
					</modal-foot>
				</modal>
			</box-content>
		</box>
		<box>
			<box-name>
				Tab Menu
			</box-name>
			<box-content>
				<div class="tab_div">
					<input type="radio" name="tab" id="tab-1" checked>
					<label for="tab-1" class="tab">tab1</label>
					<tab-content>
						Hi
					</tab-content>

					<input type="radio" name="tab" id="tab-2">
					<label for="tab-2" class="tab">tab2</label>
					<tab-content>
						안녕
					</tab-content>

					<input type="radio" name="tab" id="tab-3">
					<label for="tab-3" class="tab">tab3</label>
					<tab-content>
						Hola
					</tab-content>
				</div>
			</box-content>

		</box>


	</content>
</body>
</html>