<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>\\</title>
	<link rel='stylesheet' href='/stylesheets/scroll_animation.css' />
  <script src="/javascripts/scroll_animation.js"></script>
</head>
<body>
	<header>
		<h1>Scroll Animation</h1>
		<h4>(HTML, CSS, JS)</h4>
	</header>
	<content>
    <div class="red square animatable slideLeftToRight">1. slide Left To Right</div>
    <div class="blue circle animatable slideRightToLeft">2. slide Right To Left</div>
    <div class="pink rectangle animatable slideTopToBottom">3. slide Top To Bottom</div>
		<div class="green circle animatable slideBottomToTop">4. slide Bottom To Top</div>
		<div class="red rectangle animatable fadein">5. fade in</div>
		<div class="blue rectangle animatable fadeinDown">6. fade in down</div>
		<div class="pink circle animatable fadeinUp">7. fade in up</div>
		<div class="green rectangle animatable fadeinLeft">8. fade in left</div>
		<div class="blue square animatable fadeinRight">9. fade in right</div>
		<div class="red rectangle animatable fadeinScaleUp">10. fade in scaleUp</div>
		<div class="green square animatable fadeinScaleDown">11. fade in scaleDown</div>
	</content>
</body>
</html>
